:root {
  font-family: Arial, Helvetica, sans-serif;
   backgroundColor: "whitesmoke";
  margin:'6%'
}

#tile-container {
  display: flex;
  justify-content: flex-start;
   margin: "6%";
  height: '100%';
  width: '100%';
}
.tile-title :hover {
  transition-duration: 0.4s;
  transform: scale(1.1);
}
.tile {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  height: 300px;
  width: 300px;
  margin: auto;
  overflow-x: clip;
  border-radius: 10px;
  box-shadow: 0 0 20px #ff335e;
}
#tile:hover {
  transition-duration: 0.5s;
  box-shadow: 0 0 35px #3201c8; 
}
