body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f3f5;
  margin: 6%;
}

body::after {
  content: "";
  background-image: url("./splash1.png");
  background-repeat: repeat;
  background-size: 80%;
  opacity: 0.2;

  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

#logo {
  border-radius: 10%;
  box-shadow: 0 2px 3px black;
}

#container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  align-items: flex-start;

  height: 100%;
  width: 100%;
}
#tiletitle:hover {
  transition-duration: 0.4s;
  transform: scale(1.1);
}
.tile {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  height: 300px;
  width: 300px;
  margin: 6%;
  overflow-x: clip;
  border-radius: 10px;
  box-shadow: 0 3px 25px #ff335e;
}
#tile:hover {
  transition-duration: 0.5s;
  box-shadow: 0 7px 35px #3201c8;
}
#worldcuptile {
  box-shadow: 0 3px 25px #49bce3;
}
#worldcuptile:hover {
  transition-duration: 0.5s;
  box-shadow: 0 7px 35px #56042c;
}
#formulaonetile {
  box-shadow: 0 3px 25px black;
}
#formulaonetile:hover {
  transition-duration: 0.5s;
  box-shadow: 0 7px 35px red;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #313131;
    color: white;
  }
  body::after {
    opacity: 0.2;
    filter: invert(13%) sepia(5%) saturate(175%) hue-rotate(22deg)
      brightness(93%) contrast(103%) grayscale(1);
  }
  .tile {
    background-color: rgb(34, 31, 31);
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #f5f3f5;
    color: black;
  }
  body::after {
    opacity: 0.3;
    filter: invert(100%) sepia(0%) saturate(4160%) hue-rotate(63deg)
      brightness(115%) contrast(92%) grayscale(1);
  }
  .tile {
    background-color: rgb(255, 255, 255);
  }
}
